.grid-row {
    display: flex;
    justify-content: center;
}

.grid-square {
    flex: 0 1 auto;
    width: 190px;
    height: 190px;
    background-color: yellow;
    border: 1px solid black;
}

.colored {
    background-color: pink;
}